/*! Pre style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    background-color: #f8faff;
}

a {
    text-decoration: none;
}

p {
    margin: 10px 0;
}

/*! navbar */
#navbar {
    background-color: rgb(35, 45, 63);
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 15px;
    font-size: 25px;
}

#navbar ul {
    float: right;
    list-style-type: none;
}

#navbar ul li {
    display: inline; /*? float: left also works */
}

#navbar ul li a {
    display: inline-block;
    padding: 20px 15px;
    font-size: 17px;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background-color: rgb(8, 8, 51);
    color: #ff7e06;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 50px;
}

/*! showcase */
#showcase {
    background-image: url('./assets/microverse.jpeg');
    background-size: cover;
    min-height: 300px;
    background-position: center;
    text-align: center;
}

#showcase h1 {
    color: ivory;
    font-size: 40px;
    padding-top: 60px;
    max-width: 70%;
    margin: auto;
}

#showcase p {
    font-size: 20px;
    color: ivory;
    max-width: 90%;
    margin: auto;
    padding-top: 40px;
}

/*! main section */
#home-info h1 {
    color: #3e396b;
    font-size: 40px;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    font-family: domine;
    background-image: url("https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5dc34c7d51595b4e9ca53745_path-5185.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
}

#home-info img {
    width: 300px;
    padding-bottom: 20px;
}

.info-1, .info-2, .info-3 {
    float: left;
    width: 33%;
    padding-right: 40px;
    padding-left: 40px;
}

.info-1, .info-2, .info-3 h3 {
    color: #3a366d;
    text-align: center;
}

#home-info {
    padding-bottom: 400px;
}

#home-info p {
    color: #636c98;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
}

#paragraph-1 {
    color: #636c98;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}

/*! footer */
footer {
    background-color: #3e396b;
    padding: 70px 0 350px 0;
}

footer li {
    color: #d2fef8;
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 38px;
}

footer a {
    color: #d2fef8;
}

footer a:hover {
    color: #555;
}

#motto {
    width: 44%;
    float: left;
}

#company, #resources {
    width: 28%;
    float: left;
}

#company h3, #resources h3 {
    color: #f8faff;
    font-size: 22px;
    padding-bottom: 25px;
}

#motto p {
    padding-top: 20px;
    color: #f8faff;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
}
